//Слайдер
.slick-slider{}
//Слайдер запущен
.slick-slider.slick-initialized{}
//Слайдер с точками
.slick-slider.slick-dotted{}
//Ограничивающая оболочка
.slick-list {
	overflow: hidden;
}
//Лента слайдов
.slick-track{
	display: flex;
	align-items: flex-start;
}
//Слайд
.slick-slide{}
//Слайд активный (показывается)
.slick-slide.slick-active{}
//Слайд основной
.slick-slide.slick-current{}
//Слайд по центру
.slick-slide.slick-center{}
//Клонированный слайд
.slick-slide.slick-cloned{}
//Стрелка
.slick-arrow{}
//Стрелка влево
.slick-arrow.slick-prev{}
//Стрелка вправо
.slick-arrow.slick-next{}
//Стрелка не активная
.slick-arrow.slick-disabled{}
//Точки (булиты)
.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-dots li{
	list-style: none;
	width: 11px;
	height: 11px;
	border: 1px solid #c8c8c8;
	border-radius: 50%;
	margin: 0 4.5px;
	cursor: pointer;
}
//Активная точка
.slick-dots li.slick-active{
	background-color: #c8c8c8;
}
//Элемент точки
.slick-dots li button{
	font-size: 0;
	/* Style for "Ellipse 1" */
	
}